
body{
	background-color: white;
	width: 86%;
	margin :0% 7%;
	
}

.bandeau{
	background-color: #103D82;
	height: 90px;
}

.bandeau img{
	width: 150px;
	height: 72px;
	float: left;
	margin-top: 0.5%;
	margin-left: 2%;
}

nav ul {
	margin: 0% 3%;
	width: 94%
}

nav li{
	display: inline-block;
	padding: 0% 1%;
	width: auto;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: calibri;
	font-size: 1.1em;
}

nav a{
	text-decoration: none;
	color: black;
}
.sous-menu{
	display: none;
}
.card1, .card2 ,.card3 , .card4{

	box-shadow: 8px 8px 12px #aaa;
	display:inline-block;
	margin-left: 3%;
	margin-top: 2%;
	width: 18rem; 
	background-color :white;
}
.titre-carousel{
	background-color: wheat;
}
.bas_page {

	background-color : #28292a;
	width:100%;
	height: px;
	margin-top: 10%;
	margin-bottom: -20%;
}
.Liens {
	color : white;
	font-size: 13px;
	text-decoration: underline white;
}
